@{
    // Nesta zona escrevemos código C#
    ViewData["Title"] = "Home Page";
}

<!-- Nesta zona vamos escrever HTML -->
@* Este outro comentário está feito em RAZOR e é invisível no browser *@
<div class="text-center">
    <h1 class="display-4">Cálculo das raízes de uma equação do 2º grau</h1>
    
</div>
