@{
    // Nesta zona escrevemos código C#
    ViewData["Title"] = "Eq. 2 Grau";
}

<!-- Nesta zona vamos escrever HTML -->
@* Este outro comentário está feito em RAZOR e é invisível no browser *@
<div class="text-center">

    <!-- Título -->
    <h1 class="display-4">Cálculo das raízes de uma equação do 2º grau</h1>

</div>

<!-- Espaçamentos -->
<br />
<br />
<br />

<!-- Formulário -->
<form>
    <!-- Pedir os dados ao utilizador -->
    <p>Introduza, por favor, os valores do parâmetros da equação</p>
    <b>a: </b> <input type="text" />
    <b>b: </b> <input type="text" />
    <b>c: </b> <input type="text" />

    <!-- Espaçamentos -->

    <br />
    <br />

    <!-- Botão -->
    <input type="submit" value="Calcular" onclick="" />
</form>
